<section class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
  <div class="form-group account-options">
    <!--<form action="">-->
      <label>
        <input type="checkbox" class="unverified-login" [(ngModel)]="allowUnverifiedLogin">Allow unverified login
      </label>

      <label>
        <input type="text" [(ngModel)]="defaultLanguage">Default language
      </label>

      <label>
        <!--<select name="" id="" class="identifier-conflict">
          <option value="" *ngFor="let options of loginIdentifierConflict"></option>
        </select>Identifier conflict-->

        <!--<div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Identifier conflict<span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" *ngFor="let item of loginIdentifierConflict"></li>
          </ul>
        </div>-->
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Identifier conflict<span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">{{ loginIdentifierConflict }}</a></li>
          </ul>
        </div>
      </label>

      <label>
        <input type="text" class="login-identifiers" [(ngModel)]="loginIdentifiers">Login identifier
      </label>

      <label>
        <input type="checkbox" class="id-harvesting" [(ngModel)]="preventLoginIDHarvesting">Prevent login IDHarvesting
      </label>

      <label>
        <input type="checkbox" class="deleted-email" [(ngModel)]="sendAccountDeletedEmail">Send account deleted email
      </label>

      <label>
        <input type="checkbox" class="welcome-email" [(ngModel)]="sendWelcomeEmail">Send welcome email
      </label>

      <label>
        <input type="checkbox" class="verify-email" [(ngModel)]="verifyEmail">Verify email
      </label>

      <label>
        <input type="checkbox" class="provider-email" [(ngModel)]="verifyProviderEmail">Verify provider email
      </label>

      <button (click)="setProperties">Save</button>
    <!--</form>-->
  </div>
</section>
